@media only screen and (min-width: 1200px) {
	h2 {
		font-size: 1.38rem
	}
}
@media only screen and (max-width: 1200px) {
	.row {
		padding: 0 2%
	}
	header {
		font-size: 17px
	}
	.features {
		background-size: 24%;
		background-position: right
	}
	.team:after {
		background-size: 20%
	}
	.plain-box {
		-webkit-transform: scale(.88);
		transform: scale(.88);
		margin: 5px 20px 45px
	}
	.container {
		-webkit-transform: scale(.93);
		transform: scale(.93)
	}
	.popup-content {
		width: 40%
	}
	.about-us {
		-webkit-transform: scale(.8);
		transform: scale(.8);
		font-size: 110%;
		width: 95%
	}
	.border-blue,
	.border-green {
		top: -1px
	}
}
@media only screen and (max-width: 1023px) {
	body,
	html {
		font-size: 18px
	}
	.linear-logo {
		height: 50px
	}
	.our-projects {
		display: none
	}
	.show-desktop {
		display: none
	}
	.show-mobile {
		display: inline
	}
	#js-about a.show-desktop {
		display: none
	}
	#js-about a.show-mobile {
		display: inline-block
	}
	.responsiveproject {
		display: contents
	}
	.plain-box {
		-webkit-transform: scale(.8);
		transform: scale(.8);
		margin: 5px 0;
		font-size: 110%;
		height: 304px
	}
	section {
		padding: 0
	}
	.responsiveproject .row h3 {
		margin: 50px auto 65px
	}
	.team {
		padding-bottom: 25px
	}
	.team:after {
		background-size: 25%;
		background-position: left center
	}
	header {
		font-size: 80%
	}
	.border-blue {
		top: -1px
	}
	.col {
		width: 100%
	}
	.about-img {
		background-image: url(img/about-section-bg.webp);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 44%, 0 55%);
		clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 44%, 0 55%);
		height: 637px
	}
	.about-us-content {
		padding: 2%;
		margin-top: -328px
	}
	.about-us {
		padding: 0
	}
	.btn-3:link,
	.btn-3:visited {
		float: none
	}
	.left-contact {
		text-align: center;
		width: 100%;
		margin: 0 auto
	}
	ul.social-link {
		padding-left: 40px
	}
	.resleftp {
		margin: 0 auto;
		width: 70%
	}
	address {
		margin-top: 15px
	}
	.contact-us {
		font-size: 80%
	}
	.contact-us h3 {
		margin-top: 2%
	}
	.contact-form {
		width: 60%;
		margin: 0 auto
	}
	.contact-left label {
		font-size: 70%
	}
	footer {
		font-size: 80%
	}
	.popup-content {
		width: 40%;
		font-size: 90%
	}
	.staffcard div:nth-of-type(2) {
		width: 60%
	}
	.staffcard img {
		width: 175px
	}
	.projectcard {
		height: 163px
	}
	hr {
		margin-top: 0
	}
	.seemore {
		text-align: center;
		width: 80px;
		padding: 10px 20px;
		margin-bottom: 40px;
		font-size: 90%
	}
}
@media only screen and (max-width: 767px) {
	header {
		font-size: 60%
	}
	.features {
		font-size: 80%
	}
	#js-about {
		padding: 0
	}
	.team h3 {
		font-size: 120%
	}
	.left-side,
	.right-side {
		width: 100%
	}
	.contact-us h3 {
		margin-top: 38px
	}
	.left-h4 {
		color: #000
	}
	.popup-content {
		width: 50%
	}
	.mobile-res {
		display: inline-block
	}
	.main-nav {
		float: left;
		display: none
	}
	.main-nav li {
		display: block
	}
	.main-nav li a:link,
	.main-nav li a:visited {
		display: block;
		border: 0;
		font-size: 110%;
		padding-top: 10px
	}
	.sticky-nav i {
		color: #000
	}
	.linear-logo {
		height: 50px
	}
	.main-nav li a.show-desktop {
		display: none
	}
	.sticky-nav .m-nav li a {
		padding: 2%
	}
	.sticky-nav ul li:focus,
	.sticky-nav ul li:hover {
		background-color: #d6d6d6
	}
	.logo {
		margin-left: 10px
	}
	.staffcard img {
		width: 150px
	}
	.staffbio {
		font-size: 16px;
		margin-top: 0
	}
	.staffrole {
		font-size: 16px;
		margin-bottom: 7px
	}
	div.staffcard {
		width: auto
	}
	.staffv h3 {
		font-size: 100%
	}
}
@media only screen and (max-width: 600px) {
	.about-us {
		width: 100%
	}
	.about-us-content {
		padding: 2% 5%
	}
	.popup-content {
		width: 60%
	}
	.resleftp {
		width: 100%
	}
}
@media only screen and (max-width: 549px) {
	div.staffcard {
		flex-wrap: wrap;
		width: 60%;
		min-width: 280px
	}
	.staffcard div:first-of-type {
		width: 100%
	}
	.staffcard div:nth-of-type(2) {
		width: 100%;
		text-align: center
	}
	.staffcard h4 {
		margin-top: 5%;
		font-size: 20px
	}
	.staffrole {
		margin-top: 7px
	}
	.tohome {
		top: auto;
		left: auto;
		right: 20px;
		bottom: 20px
	}
}
@media only screen and (max-width: 499px) {
	.about-img {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 260px, 50% 210px, 0 260px);
		clip-path: polygon(0 0, 100% 0, 100% 260px, 50% 210px, 0 260px)
	}
	.plain-box ul li {
		font-size: 155%
	}
	header:after {
		bottom: -2px
	}
	.about-us {
		margin-top: 50px;
		-webkit-transform: scale(1);
		transform: scale(1);
		width: 95%;
		height: 550px
	}
	#js-about {
		padding-bottom: 10%
	}
	.about-us-content {
		margin-top: -400px
	}
	.about-us-content h3 {
		-webkit-transform: scale(.8);
		transform: scale(.8);
		margin-bottom: 4%
	}
	.about-us-content p {
		font-size: 80%;
		line-height: 130%;
		text-align: center
	}
	#js-about a {
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}
	.contact-us {
		padding-bottom: 2em
	}
	.loader img {
		width: 24%
	}
	hr {
		width: 85%;
		margin-top: -10px
	}
	.seemore {
		text-align: center;
		width: 80px;
		padding: 10px 20px;
		margin-bottom: 40px;
		font-size: 90%
	}
	nav:not(.sticky-nav) .main-nav.active .m-nav {
		margin-top: -15%
	}
}
@media only screen and (max-width: 414px) {
	.responsiveproject .row h3 {
		margin-top: 5%
	}
	header {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .7))), url(img/backgroundmin.webp);
		background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/backgroundmin.webp)
	}
	.about-img {
		background-image: url(img/aboutmin.webp)
	}
	.contact-form {
		width: 75%
	}
	.txtbox {
		border-radius: 5px;
		margin: 5px 0;
		padding: 5px 18px
	}
	.bg-video {
		background-color: #216296
	}
	.main-nav li a:link,
	.main-nav li a:visited {
		padding-top: 20px
	}
	.popup-content {
		width: 80%
	}
	.popup-content h4 {
		margin: 4% auto
	}
	.contact-us .col:first-child {
		margin-bottom: 2.5%
	}
	.main-logo {
		height: 70px;
		margin-top: 30px
	}
	.about-us {
		height: 600px
	}
	.verifystatus {
		font-size: 23px
	}
}
@media only screen and (max-width: 360px) {
	.hero-text-box {
		padding: 0 9%;
		font-size: 90%
	}
	.about-us {
		height: 650px
	}
	div.staffcard {
		width: 90%;
		min-width: auto
	}
}